// Footer
.footer {
  padding: 150px 0 80px;

  @media (max-width: $breakpoint768) {
    padding: 120px 0 60px;
  }
  @media (max-width: $breakpoint480) {
    padding: 60px 0 60px;
  }
  // .footer__wrapper
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;

    @media (max-width: $breakpoint768) {
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  // .footer__text
  &__text {
    font-size: 16px;
    line-height: 21px;
    color: #a3b3bb;
    a {
      font-size: 16px;
      line-height: 21px;
      color: #a3b3bb;
    }
  }
  // .footer__inner
  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    @media (max-width: $breakpoint480) {
      gap: 14px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
}
