// Header

.header {
  background: url(../img/header/bg-texture.jpg) no-repeat center;
  background-size: cover;

}

.star {
  margin-top: -16px;
  position: absolute;
  top: 0;
  right: 40px;
  // &::after {
  //     content: 'Day';
  //     position: absolute;
  //     bottom: -6px;
  //     right: -10px;
  //     font-weight: 500;
  //     font-size: 20px;
  //     line-height: 150%;
  //     color: #fff;
  //     transform: rotate(-20deg);
  // }

  // @media (min-width: $breakpoint2560) {
  //     right: 15%;
  // }
  // @media (min-width: $breakpoint1920) {
  //     right: 6%;
  // }
  @media (max-width: $breakpoint992) {
    display: none;
  }
}

// Navbar
nav {
  overflow: hidden;
}

.navbar {
  max-width: 1920px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: ($containerWidth + $containerPadding) + px;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;
  padding-top: 25px;
  padding-bottom: 25px;
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background: hsla(0, 0%, 0%, 0.9);
}

.logo {
    a {
        color: white;

        img {

            @media (max-width: $breakpoint480) {
                height: 32px;
            }
        }
    }
}

.menu {
  display: flex;
  gap: 50px;
  margin-right: 90px;

  @media (max-width: $breakpoint1450) {
    gap: 30px;
  }

  // .menu__item
  &__item {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
  }

  // .menu__item-link
  &__item-link {
    color: white;
    transition: all 0.4s;
    &:hover {
      color: $greenHover;
    }
  }
}

.burger {
  display: none;
  cursor: pointer;
}

// Burger menu styles
@media screen and (max-width: $burgerBreakpoint) {
  // .menu
  .menu {
    position: fixed;
    background: #131418;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;

    &.active {
      display: flex;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      pointer-events: all;
      justify-content: center;
      align-items: center;
      z-index: 12;
      animation: fade 0.1s linear;
    }
  }

  // .burger
  .burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 13;
    cursor: pointer;

    &.active-burger {
      &:before {
        background: $burgerActiveColor;
        transform: rotate(45deg);
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        top: 8px;
      }

      &:after {
        background: $burgerActiveColor;
        transform: rotate(-45deg);
        bottom: 10px;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      }

      & span {
        transform: scale(0);
      }
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background: $burgerColor;
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

    &:before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      position: absolute;
      top: 9px;
      right: 0;
      width: 100%;
      background: $burgerColor;
      height: 2px;
      transform: scale(1);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }
  }

  // .menu__item
  .menu__item {
    margin-top: 15px;
  }

  // .menu__link
  .menu__item-link {
    color: white;
  }
}

.header {
  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
  }
  // .header__content
  &__content {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 75px;
      height: 75px;
      background-image: url(../img/icon-star.png);
      background-repeat: no-repeat;
      background-size: cover;
      top: 45%;
      left: 7%;
      @media (min-width: $breakpoint1450) {
        left: 10%;
        top: 50%;
      }
      @media (max-width: $breakpoint992) {
        top: 100%;
      }
      @media (max-width: $breakpoint768) {
        display: none;
      }
    }
    &::after {
      content: "";
      position: absolute;
      width: 75px;
      height: 75px;
      background-image: url(../img/icon-star.png);
      background-repeat: no-repeat;
      background-size: cover;
      top: 100%;
      right: 7%;
      @media (min-width: $breakpoint1450) {
        right: 10%;
      }
      @media (max-width: $breakpoint768) {
        display: none;
      }
    }
  }

  // .header__title
  &__title {
    position: relative;
    z-index: 2;
    font-weight: 700;
    font-size: 82px;
    text-align: center;
    line-height: 120%;
    margin: 0 auto;
    max-width: 1170px;
    margin-bottom: 40px;
    @media (max-width: $breakpoint1450) {
      font-size: 64px;
      line-height: 100%;
      margin-bottom: 40px;
    }
    @media (max-width: $breakpoint992) {
      font-size: 60px;
      margin-bottom: 30px;
    }
    @media (max-width: $breakpoint480) {
      font-size: 36px;
      line-height: 120%;
      margin-bottom: 20px;
    }
  }
  // .header__subtitle
  &__subtitle {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    max-width: 765px;
    text-align: center;
    font-size: 32px;
    line-height: 117%;
    letter-spacing: -0.03em;
    color: $mainGray;
    @media (max-width: $breakpoint1450) {
      font-size: 28px;
    }
    @media (max-width: $breakpoint992) {
      font-size: 20px;
    }
    @media (max-width: $breakpoint480) {
      font-size: 16px;
      line-height: 117%;
    }
  }
  // .header__img
  &__img {
    max-width: 100%;
    @media (max-width: $breakpoint992) {
      display: none;
    }
  }
  &__img-mini {
    max-width: 400px;
    width: 100%;
    display: none;
    margin: 0 auto;
    @media (max-width: $breakpoint992) {
      display: block;
    }
  }
  .start-btn {
    position: fixed;
    z-index: 3;
    right: 70px;
    bottom: 64px;
    color: #000;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    padding: 19px 32px;
    background: $green;
    border-radius: 12px;
    transition: transform 300ms ease, background-color 300ms ease,
      -webkit-transform 300ms ease;
      display: block;

    &:hover {
      background-color: #bdeb00;
      transform: scale3d(0.98, 0.98, 1.01);
    }
    @media (max-width: $breakpoint1450) {
      bottom: 60px;
    }
    @media (max-width: $breakpoint992) {
      bottom: 50px;
    }
    @media (max-width: $breakpoint480) {
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: block;
      max-width: 100%;
      width: fit-content;
      margin: 0 auto;
      padding: 16px 32px;
      font-size: 16px;
    }
  }
}

.dnone {
    display: none !important;
}
