// ************************ Модальное окно ************************ //
// mf

.modal__wrapper {
  // position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 14;
  // width: 100%;
  // height: 100%;
  // position: fixed;

  .overlay {
    display: none;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal {
    background-color: #151515;
    padding: 80px 60px 60px 60px;
    width: 768px;
    right: -100%;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 15;
    transition: right 0.3s ease-in-out;

    @media (max-width: $breakpoint992) {
      width: 100%;
    }

    &__title {
      font-weight: 700;
      font-size: 52px;
      line-height: 120%;
      text-transform: capitalize;
      margin-bottom: 16px;
    }

    &__desc {
      font-size: 20px;
      line-height: 120%;
      margin-bottom: 40px;
      max-width: 480px;
    }

    &__close {
      padding: 8px;
      cursor: pointer;
      position: absolute;
      right: 16px;
      top: 16px;
    }
  }

  .modal__show {
    right: 0;
  }
}

.modal__body {
  max-width: 480px;
}

.modal__body-title-number {
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 99px;
  border: 1px solid rgba(198, 255, 0, 1);
  line-height: 64px;
  text-align: center;
  font-size: 32px;
  margin-right: 24px;
}

.modal__body-title {
  display: inline-block;
  font-size: 32px;
  line-height: 120%;
  margin-bottom: 32px;
}

.modal__wrapper-tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px;
}

.modal__tag {
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.87);
  padding: 16px 20px;
  background: #0d0c0f;
  border-radius: 8px;
  margin: 6px;
}

.modal__form {
  margin-top: 24px;
}

.modal__form-label {
  display: block;
  margin-bottom: 24px;

  input,
  textarea {
    width: 100%;
  }
}

// // ************************ Кнопка вызова модального окна ************************ //
// .modal__btn {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border: 1px solid black;
//   border-radius: 30px;
//   height: 50px;
//   width: 150px;
//   cursor: pointer;
// }
