.portfolio {
  padding-top: 150px;

  @media (max-width: $breakpoint992) {
    padding-top: 130px;
  }
  @media (max-width: $breakpoint480) {
    padding-top: 100px;
  }
  // .container
  .container {
    padding: 0 120px;
    @media (max-width: $breakpoint992) {
      padding: 0 20px;
    }
  }
  // .title__h2
  .title__h2 {
    position: relative;
    // max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    // &::after {
    //     content: '';
    //     position: absolute;
    //     width: 75px;
    //     height: 75px;
    //     top: 0;
    //     right: 0;
    //     // left: 0;
    //     background-image: url(../img/icon-star.png);
    // }
    @media (max-width: $breakpoint992) {
      margin: 0 auto;
    }
    @media (max-width: $breakpoint480) {
    }

    img {
      display: flex;
      align-items: center;
      max-width: 100%;

      @media (max-width: $breakpoint768) {
        max-width: 46px;
      }
      @media (max-width: $breakpoint480) {
        max-width: 36px;
      }
    }
  }
  // .portfolio__wrapper
  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 80px;
    @media (max-width: $breakpoint992) {
      flex-direction: column;
      align-items: center;
      margin-top: 32px;
    }
  }
  // .portfolio__inner
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 80px;

    @media (max-width: $breakpoint480) {
      gap: 40px;
    }
  }
  // .portfolio__box
  &__box {
    max-width: 633px;
  }
  // .portfolio__link
  &__link {
    display: block;

    &:hover {
      .portfolio__img {
        transform: scale3d(1.04, 1.04, 1);
      }

      .portfolio__text {
        color: $green;
      }
    }
  }
  // .portfolio__wrap-img
  &__wrap-img {
    position: relative;
    border-radius: 24px;
    overflow: hidden;
  }
  // .portfolio__img
  &__img {
    max-width: 100%;
    transform-style: preserve-3d;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;

    @media (max-width: $breakpoint992) {
      border-radius: 10px;
    }
  }
  // .portfolio__text
  &__text {
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0.0007em;
    color: $opacityWhite;
    padding: 40px 0 16px;

    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;

    @media (max-width: $breakpoint992) {
      font-size: 24px;
    }
    @media (max-width: $breakpoint480) {
      font-size: 16px;
      padding: 24px 0 16px;
    }
  }
  // .portfolio__list
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }
  // .portfolio__item
  &__item {
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: $opacityWhite;
    padding: 6px 12px;
    background: #000;
    background: rgba(48, 48, 48, 0.8);
    backdrop-filter: blur(100px);
    border-radius: 8px;

    @media (max-width: $breakpoint480) {
      font-size: 12px;
    }
  }
  // .portfolio__btn
  &__btn {
    display: flex;
    justify-content: center;
    font-size: 20px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-decoration-line: underline;
    color: $green;
    transition: all 0.4s;
    &:hover {
      color: $greenHover;
    }

    @media (max-width: $breakpoint480) {
      font-size: 16px;
    }
  }
}

.portfolio__soon {
  font-size: 32px;
  color: #000000;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../img/portfolio/soon-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 99px;
  padding: 19px 32px;
}

.portfolio__soon-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
