.products {
    padding-top: 140px;

    @media (max-width: $breakpoint480) {
        padding: 60px 0;
    }
    // .products__wrap
    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: $breakpoint480) {
            font-size: 16px;
        }
    }
    // .products__btn
    &__btn {
        font-weight: 500;
        font-size: 30px;
        line-height: 39px;
        color: $green;
        text-decoration: underline;
        text-align: right;

        @media (max-width: $breakpoint992) {
            font-size: 24px;
        }
        @media (max-width: $breakpoint480) {
            width: 140px;
            font-size: 16px;
        }
    }
    // .products__wrapper
    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        margin-top: 60px;
        @media (max-width: $breakpoint768) {
            flex-wrap: wrap;
            justify-content: center;
        }
        @media (max-width: $breakpoint480) {
            margin-top: 32px;
        }
    }
    // .products__item
    &__item {
        max-width: 500px;
    }
    // .products__item-img
    &__item-img {
        max-height: 677px;
        max-width: 100%;
        border-radius: 10px;
    }
    // .products__inner
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px 0 20px;

        @media (max-width: $breakpoint480) {
            margin: 16px 0;
        }
    }
    // .products__inner-text
    &__inner-text {
        font-size: 32px;
        line-height: 120%;
        letter-spacing: 0.0007em;
        color: $opacityWhite;

        @media (max-width: $breakpoint992) {
            font-size: 24px;
        }
        @media (max-width: $breakpoint480) {
            font-size: 16px;
        }
    }
    // .products__inner-price
    &__inner-price {
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        padding: 6px 12px;
        border-radius: 8px;
        background: $green;
        color: #000;
        text-align: center;
        display: flex;
        align-items: center;
    }
    // .products__list
    &__list {
        display: flex;
        align-items: center;
        gap: 16px;

    }
    // .products__list-icon
    &__list-icon {
        img {
            max-width: 40px;

            @media (max-width: $breakpoint992) {
                max-width: 24px;
            }
            @media (max-width: $breakpoint480) {
                font-size: 16px;
            }
        }
    }
}
