.team {
  padding: 150px 0 160px;

  @media (max-width: $breakpoint992) {
    padding: 80px 0 0px;
  }
  @media (max-width: $breakpoint480) {
    padding: 60px 0 0px;
  }
  // .team__title
  &__title {
    // padding: 0 0 130px;
    max-width: 764px;
    margin-bottom: 130px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 80px;
    }
    @media (max-width: $breakpoint480) {
      margin-bottom: 32px;
    }
  }
  // .team__text
  &__text {
    font-size: 32px;
    line-height: 117%;
    letter-spacing: -0.03em;
    margin-top: 20px;
    color: $mainGray;
    @media (max-width: $breakpoint480) {
      font-size: 16px;
    }
  }
  // .team__wrapper
  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    position: relative;
    @media (max-width: $breakpoint1450) {
      flex-wrap: wrap;
    }
    @media (max-width: $breakpoint992) {
      justify-content: center;
    }
    @media (max-width: $breakpoint480) {
      gap: 32px;
    }
    &::before {
      content: "";
      position: absolute;
      top: -50px;
      left: -180px;
      max-width: 100%;
      width: 813px;
      height: 547px;
      background-image: url(../img/team/cube.png);
      background-repeat: no-repeat;
      background-size: contain;
      @media (max-width: $breakpoint1450) {
        flex-wrap: wrap;
        height: 400px;
      }
      @media (max-width: $breakpoint768) {
        display: none;
      }
    }
  }
  // .team__card
  &__card {
    position: relative;
    z-index: 2;
    max-width: 368px;
    @media (max-width: $breakpoint480) {
      margin-left: -20px;
      margin-right: -20px;
    }
  }
  // .team__img
  &__img {
    max-width: 100%;
  }
  // .team__box
  &__box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    padding: 32px;
    @media (max-width: $breakpoint480) {
      padding: 24px;
    }
  }
  // .team__content

  // .team__name
  &__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    margin-bottom: 4px;

    @media (max-width: $breakpoint992) {
      font-size: 26px;
    }
    @media (max-width: $breakpoint480) {
      font-size: 16px;
    }
  }
  // .team__prof
  &__prof {
    font-size: 20px;
    line-height: 117%;
    color: $green;
    letter-spacing: -0.03em;

    @media (max-width: $breakpoint992) {
      font-size: 19px;
    }
    @media (max-width: $breakpoint480) {
      font-size: 14px;
    }
  }
  // .team__icon
  &__icon {
    width: 40px;
    height: 40px;
    background-color: #292829;
    border-radius: 999px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;

    &:hover {
      transform: scale(120%);
    }

    &--behance {
      background: linear-gradient(45deg, #1769ff 0%, #213fca 100%);
      box-shadow: 0px 4px 30px rgba(27, 86, 231, 0.5);
    }
    &--github {
      background: linear-gradient(45deg, #333333 0%, #626b73 100%);
      box-shadow: 0px 4px 30px #3f4143;
    }
  }
}
